flask                       ==      1.0.2
gunicorn                    ==      19.8.1
jinja2                      ==      2.10
psycopg2                    ==      2.7.4
flask-sqlalchemy            ==      2.3.2
sqlalchemy                  ==      1.2.2
alembic                     ==      0.9.9
flask-admin                 ==      1.5.1
flask-wtf                   ==      0.14.2
Flask-Security              ==      3.0.0
pillow                      ==      5.1.0
Flask-Bootstrap             ==      3.3.7.1
flask-login                 ==      0.4.0
Flask-Uploads               ==      0.2.1
wkhtmltopdf                 ==      0.2
pdfkit                      ==      0.6.1
twilio                      ==      6.14.4
geopy                       ==      1.16.0
geocoder                    ==      1.38.1
wtforms-sqlalchemy          ==      0.1
wtforms-alchemy             ==      0.16.7