flask                       ==   1.0.2
gunicorn                    ==   19.8.1
psycopg2                    ==   2.7.4
flask-sqlalchemy            ==   2.3.2
alembic                     ==   0.9.9
flask-admin                 ==   1.5.1
flask-wtf                   ==   0.14.2
Flask-Security>=1.7.5
