flask                       ==   1.0.2
gunicorn                    ==   19.8.1
psycopg2                    ==   2.7.4
flask-sqlalchemy            ==   2.3.2
alembic                     ==   0.9.9
flask-admin                 ==   1.5.1
flask-wtf                   ==   0.14.2
pillow                      ==   5.1.0
flask_mail                  ==   0.9.1
twilio                      ==   6.14.4
Flask-Security              ==   3.0.0
httplib2                    ==   0.11.3
oauth2client                ==   4.1.2
shapely                     ==   1.6.4.post1
flask_googlemaps            ==   0.2.6
sqlalchemy_imageattach      ==   1.1.0