<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo smtplib</title>
</head>
<body>
    <h2>DEmo kirim email menggunakan smtplib</h2>
    <form action="http://localhost:5000" method="post">
        GMail username: <br>
        <input type="text" name="gmail_username"><br>
        Gmail password: <br>
        <input type="password" name="gmail_password"><br>
        To: <br>
        <input type="text" name="to"><br>
        Subject: <br>
        <input type="text" name="subject"><br>
        Message: <br>
        <textarea name="message" cols="30" rows="10"></textarea><br>
        <p><input type="submit" value="Kirim"></p>
    </form>
</body>
</html>