{% extends "theme.html" %}

{% block title %}
	{{ super() }}
    Tambah Ikan
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row">
    <div class="col-lg-12">
        <!--<h2 class="page-header">Halaman Dashboard</h2>-->
        <h2 class="page-header">{{ NAMA_TOKO }}</h2>
    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-info">
	            <div class="panel-heading">

	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">

                    <div class="page-header">
                        <h2>Edit</h2>
                    </div>

                    <form action="{{url_for('ikan_edit', ikan_id=ikan.Ikan.id_ikan)}}" method="post">
                        {{ form.csrf_token }}
                        {{ form.nama_ikan(value = ikan.Ikan.nama_ikan) }}
                        {{ form.keterangan_ikan(value = ikan.Ikan.keterangan_ikan) }}
                        {{ form.berat_ikan_dalam_Kg(value = ikan.Ikan.berat_ikan_dalam_Kg) }}
                        {{ form.harga_per_Kg(value = ikan.Ikan.harga_per_Kg) }}
                        {{ form.minimal_order_dalam_Kg(value = ikan.Ikan.minimal_order_dalam_Kg) }}
                        {{ form.ketersediaan(value = ikan.Ikan.ketersediaan)}}
                        <button class="btn btn-sm btn-success" type="submit">Edit Ikan</button>
                    </form>

                </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-12-->
	</div>
{% endblock %}
