<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Form Pemesan</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electrical Service Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- //custom-theme -->
<link href="https://trinanda.github.io/template_irwan/electrical_service_form-web/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script type="text/javascript" src="https://trinanda.github.io/template_irwan/electrical_service_form-web/js/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- google fonts -->

</head>

<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
				<div class="w3layouts_main_grid">
				<h1 class="w3layouts_head">Masukan data Anda</h1>
					<!--<form action="http://localhost:9999/invoice" method="get" class="w3_form_post">-->
					<form action="#" method="post" class="w3_form_post">
						{{ captha.csrf_token }}
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Nama Pemesan <span class="star">*</span></label>
								<input type="text" name="nama_pemesan" placeholder="Nama Pemesan" required="">
							</span>
						</div>
						<!--<div class="w3_agileits_main_grid w3l_main_grid">-->
							<!--<span class="agileits_grid">-->
								<!--<label>Your Email <span class="star">*</span></label>-->
								<!--<input type="email" name="Task" placeholder="Your Email" required="">-->
							<!--</span>-->
						<!--</div>-->
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>No. Hp/WhatsApp <span class="star">*</span></label>
								<input type="text" name="no_hp_or_wa" placeholder="No. Hp/WhatsApp" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Alamat <span class="star">*</span></label>
									<div class="form-input add">
										<!--<span class="form-sub-label state">-->
											<!--<input type="text" name="state" placeholder="Provinsi" required="">-->
										<!--</span>-->
										<!--<span class="form-sub-label city">-->
											<!--<input type="text" name="city" placeholder="Kota/Kabupaten" required="">-->
										<!--</span>-->

										<!--<div class="clear"></div>-->

										<!--<div class="clear"></div>-->
										<!--<span class="form-sub-label line1">-->
											<!--<input type="text" name="country" placeholder="Kecamatan " required="">-->
										<!--</span>-->
										<!--&lt;!&ndash;<span class="form-sub-label code">&ndash;&gt;-->
											<!--&lt;!&ndash;<input type="text" name="zipcode" placeholder="Postal / Zip Code " required="">&ndash;&gt;-->
										<!--&lt;!&ndash;</span>&ndash;&gt;-->

										<span class="form-sub-label line1">
											<input type="text" name="alamat_lengkap" placeholder="Alamat Lengkap" required="">
										</span>
										{{ captha.recaptcha }}
										{% for error in captha.recaptcha.errors %}
										<ul>
											<li style="color:red;">{{ error }}</li>
										{% endfor %}
										</ul>
										<div class="clear"></div>
									</div>

									<div class="clear"></div>
							</span>
						</div>
						
						<!--<div class="agileits_w3layouts_main_grid w3ls_main_grid">-->
							<!--<span class="agileinfo_grid">-->
								<!--<label>Tanggal ingin dikirim <span class="star">*</span></label>-->
								<!--<div class="form-sub-label line1">-->
									<!--<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">-->
								<!--</div>-->
								<!--&lt;!&ndash;<div class="agileits_w3layouts_main_gridr">&ndash;&gt;-->
									<!--&lt;!&ndash;<input type="time" name="Time" required="">&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
								<!--<div class="clear"> </div>-->
							<!--</span>-->
						<!--</div>-->
						<br>
					<div>
						<h1 style="text-align: left;">Cara Pembayaran
							<p style="text-transform: None;">Berikut adalah ketentuan metode pembayaran di Irwan Fish :</p>
						</h1>
							<h1 style="text-align: left;">Metode Pembayaran
								<ol type="1" style="text-transform: None;">
									<li>1. Transaksi Pembayaran dapat kami lakukan dalam dua bentuk yaitu Cash maupun Transfer</li><br>
									<li>2. Untuk Pembayaran Cash (COD) saat ini hanya berlaku untuk wilayah Payakumbuh dan Lima Puluh Kota</li><br>
									<li>3. Untuk Pembayaran Transfer dapat ditujukan langsung ke nomor rekening 112233445566778899 a.n BRI PT Irwan Fish</li><br>
									<li>4. Detail lebih lanjut tentang ketentuan pembayaran akan dijelaskan oleh tim customer service kami saat pemesanan sudah anda lakukan.</li>
								</ol>
							</h1>
					</div>

					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Mengerti dan lanjutkan" style="width: 230px;">
						</div>
					</div>
				</form>
			</div>
			
		<!-- Calendar -->
			<link rel="stylesheet" href="https://trinanda.github.io/template_irwan/electrical_service_form-web/css/jquery-ui.css" />
				<script src="https://trinanda.github.io/template_irwan/electrical_service_form-web/js/jquery-ui.js"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
		
		</div>
	</div>
	</div>
<!-- //footer -->

</body>
</html>