{% extends "base-template.html" %}
{% block content %}
<body onload="getLocation()">
{% for FISH in IKANS %}
<!--product start here-->
<!--<div class="product">-->
	<!--<div class="container">-->
		<!--<div class="product-main">-->

			  <div class="col-md-14 product-block">

			     <div class="col-md-3 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href=""><img src="files/{{ FISH.foto_ikan }}" alt="" class="img-responsive zoom-img" style="width: 320px; height: 220px;"></a>
					   </div>
						<div class="home-product-bottom">
								<h3><a href="#">{{ FISH.nama_ikan }}</a></h3>
								<p>Ukuran {{ FISH.berat_ikan_dalam_Kg }} kg</p>
						</div>
						<div class="srch">
							<span>Rp.{{ FISH.harga_per_Kg }}/kg</span>
						</div>

						<!--<form action="http://localhost:9999/detail_ikan/{{FISH.id_ikan}}" method="get">-->
						<form action="http://192.168.100.4:9999/detail_ikan/{{FISH.id_ikan}}" method="get">
							<input name="id_ikan" type="hidden" value="{{ FISH.id_ikan }}">
							<!--<input name="nama_ikan" type="hidden" value="{{ FISH.nama_ikan }}">-->
							<!--<input name="keterangan_ikan" type="hidden" value="{{ FISH.keterangan_ikan }}">-->
							<!--<input name="berat_ikan_dalam_Kg" type="hidden" value="{{ FISH.berat_ikan_dalam_Kg }}">-->
							<!--<input name="minimal_order_dalam_Kg" type="hidden" value="{{ FISH.minimal_order_dalam_Kg }}">-->
							<!--<input name="harga_per_Kg" type="hiF dden" value="{{ FISH.harga_per_Kg }}">-->
							<input name="foto_ikan" type="hidden" value="http://192.168.100.4:9999/files/{{ FISH.foto_ikan }}">
							<input type="submit" value="Lihat detail ikan" class="btn btn-warning" style="width: 143px;" align="middle">
						</form>
					</div>
				 </div>
			      <!--<div class="clearfix"> </div>-->
			  </div>

		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--product end here-->


{% endfor %}


 <form method="get" action="{{ url_for('getvalue') }}">
      <textarea name="data" id="demo" cols="30" rows="10" hidden></textarea><br>

      <input type="submit" value="Lokasi Terdekat" class="btn btn-info btn-lg btn-block">
 </form>
  <script>
    var x = document.getElementById("demo");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      x.innerHTML = position.coords.latitude + "," + position.coords.longitude;
    }
  </script>

</body>
{% endblock %}