
<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>
		<link rel="stylesheet" href="https://trinanda.github.io/template_irwan/invoice/style.css">
		<!--<link rel="license" href="https://www.opensource.org/licenses/mit-license/">-->
		<!--<script src="https://trinanda.github.io/template_irwan/invoice/script.js"></script>-->
	</head>
	<body>
		<header>
			<h1>Invoice</h1>
			<address>
				<p>{{ NAMA_PEMBELI }}</p>
				<p>{{ ALAMAT_PEMBELI }}</p>
				<p>{{ NOMOR_HP_PEMBELI }}</p>
			</address>
			<!--<span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>-->
		</header>
		<article>
			<h1>Recipient</h1>
			<table class="meta">
				<tr>
					<th><span >Invoice </span></th>
					<td><span >{{ KODE_INVOICE }}</span></td>
				</tr>
				<tr>
					<th><span >Tanggal</span></th>
					<td><span >{{ TANGGAL_PESANAN }}</span></td>
				</tr>
			</table>
			<!--<table class="inventory">-->
			<table class="#">
				<thead>
					<tr>
						<th><span >Ikan</span></th>
						<th><span >Jumlah</span></th>
						<th><span >Harga</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!--<td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>-->
						<td><a class="#"></a><span >{{ NAMA_IKAN }}</span></td>
						<td><span >{{ JUMLAH_PESANAN }} Kg</span></td>
						<td><span data-prefix></span><span>Rp. {{ HARGA_SATU_IKAN }},00</span></td>
					</tr>
				</tbody>
			</table>
			<!--<a class="add">+</a>-->
			<table class="balance">
				<tr>
					<th><span >Total</span></th>
					<td><span data-prefix></span><span>Rp.{{ HARGA_TOTAL }},00</span></td>
				</tr>
			</table>
		</article>
		<form action="http://127.0.0.1:9999/invoice" method="post">
              <input type="submit" value="Download PDF" class="btn btn-primary btn-lg" style="width: 150px;">
            </form>
        <!--<form action="">-->
            <!--<input type="submit" value="Submit">-->
        <!--</form>-->
		<aside>
			<h1><span >Terima kasih</span></h1>
		</aside>
	</body>
</html>